<!DOCTYPE html>
<html ng-app="app">
	<head lang="en-us">
		<meta charset="utf-8">
		<title> Addigy </title>
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/loginHistory.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/allGraphs.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/lib/css/angular-chart.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
	<body class="main-background">
        <div ng-view></div>
	</body>
    <script src="assets/lib/js/Chart.min.js"></script>
    <script src="assets/lib/js/angular/angular.min.js"></script>
    <script src="assets/lib/js/angular/angular-route.min.js"></script>
    <script src="assets/lib/js/angular/angular-chart.min.js"></script>
    <script src="assets/lib/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="assets/lib/js/jquery.js"></script>
    <script src="assets/lib/js/bootstrap.min.js"></script>
    <script src="assets/app.js"></script>
    <script src="assets/LoginDataService.js"></script>
    <script src="assets/DataRequestFactory.js"></script>
    <script src="assets/controllers/LoginHistoryController.js"></script>
    <script src="assets/controllers/LoginGraphController.js"></script>
    <script src="assets/controllers/LoginDetailsController.js"></script>
    <script src="assets/controllers/AllGraphsController.js"></script>


</html>
