<!DOCTYPE html>
<html ng-app="app">
	<head lang="en-us">
		<meta charset="utf-8">
		<title> Addigy </title>
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css">
	</head>
	<body>
        <div ng-view></div>
	</body>
    <script src="assets/lib/js/angular/angular.min.js"></script>
    <script src="assets/lib/js/angular/angular-route.min.js"></script>
    <script src="assets/app.js"></script>
    <script src="assets/controllers/LoginHistoryController.js"></script>
</html>
