<div ng-controller="LoginDetailsController as ctrl" id='login-chart'class="row login-details-main">
    <div>
        <button class="btn btn-primary" style="margin:10px" type="button" data-toggle="collapse" data-target="#detailsCollapse" aria-expanded="false" aria-controls="detailsCollapse">
        Users Details
    </button>
    </div>
    <div id="detailsCollapse" class="collapse" id="detailsCollapse">
        <div class="well">
            <div ng-repeat="label in ctrl.labels">
                <button data-toggle="collapse" data-target="{{ '#'+label }}" href="" aria-expanded="false" aria-controls="{{ label }}" class="btn btn-box-tool"><i class="fa fa-play"> {{ label }}</i></button>
                <div class="collapse" id="{{ label }}">
                    <div class="well" style="background-color: white">
                        <table class="table table-condensed">
                            <thead>
                                <tr style="height: 40px">
                                    <td>Connector Id</td>
                                    <td>Username</td>
                                    <td>Login</td>
                                    <td>Logout</td>
                                </tr>
                            </thead>
                            <tr ng-repeat="user in ctrl.getUsersAtHour(label)">
                                <td>{{ user.connectorId }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ ctrl.dateToOnlyTimeString(user.login)}}</td>
                                <td>{{ ctrl.dateToOnlyTimeString(user.logout)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

