<div class="login-section" ng-controller="LoginGraphController as ctrl">
    <div class="row">
        <div class="col-sm-4">
            <p class="input-group">
              <input ng-change="ctrl.getActivity()" type="text" class="form-control" datepicker-popup="{{ctrl.format}}" ng-model="ctrl.datePickedDate.date"
                     is-open="ctrl.opened"  max-date="{{ ctrl.calendarMaxDate }}"
                     datepicker-options="ctrl.dateOptions" date-disabled="ctrl.disabled(date, mode)"
                     ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>

    <div id='login-chart'class="row">
        <div>
            <canvas style="height: 250px" id="login_canvas" class="chart chart-line" data="ctrl.data"
                labels="ctrl.labels" legend="true" series="ctrl.series"
                click="ctrl.onPointClick" options="{datasetFill : false,  scaleShowVerticalLines: false}">
            </canvas>
        </div>
    </div>
</div>