<div style="padding-top: 20px" class="col-md-12" ng-controller="SearchDomainController as  ctrl">
    <div class="row">
        <div class="col-sm-4">
            <label>Domain</label>
            <select id="domainSelect"  style="width: 100%" ng-options="domain for domain in ctrl.allDomains"
                    ng-model="ctrl.selectedDomain" ng-change="ctrl.update()">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-sm-1">
            <label>Top</label>
            <select id="topSelect" style="width: 100%" ng-model="ctrl.selectedTopNum" ng-change="ctrl.update()">
                <option value="0" selected="selected">1</option>
            </select>
        </div>
        <div class="col-sm-3">
            <label>User</label>
            <select id="userSelect"  style="width: 100%" ng-options="user for user in ctrl.allUsers"
                    ng-model="ctrl.selectedUser" ng-change="ctrl.update()">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label>Time Period</label>
            <div class="btn-group" data-toggle="buttons">
                <label ng-click="ctrl.lastWeekSelected()" class="btn btn-default active">
                    <input checked="checked" type="radio" id="q156" name="quality[25]" value="1" />Last Week
                </label>
                <label ng-click="ctrl.lastMonthSelected()"  class="btn btn-default">
                    <input type="radio" id="q157" name="quality[25]" value="2" />Last Month
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Application Type</label>
            <div class="btn-group" data-toggle="buttons">
                <label id="cloudBtn" ng-click="ctrl.cloudAppsSelected()" class="btn btn-default">
                    <input  type="radio" id="q156" name="quality[25]" value="1" />Cloud
                </label>
                <label id="allTypesBtn" ng-click="ctrl.allAppsSelected()"  class="btn btn-default active">
                    <input checked="checked" type="radio" id="q157" name="quality[25]" value="2" />All
                </label>
                <label id="systBtn" ng-click="ctrl.systemAppsSelected()"  class="btn btn-default">
                    <input type="radio" id="q157" name="quality[25]" value="2" />System
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <canvas style="height: 300px;" id="line" colours="ctrl.lineChartColors" class="chart chart-line" data="ctrl.graphData"
            labels="ctrl.labels" legend="true" series="ctrl.series" click="onClick" options=ctrl.options>
        </canvas>
    </div>
</div>