<div ng-controller="SearchDomainController as  ctrl">
    <div class="container row">
        <div class="col-sm-2">
            <select id="topSelect" style="width: 100%" ng-options="num for num in ctrl.topSelectData"
                    ng-model="ctrl.selectedTopNum" ng-change="ctrl.update()">
            </select>
        </div>
        <div class="col-sm-3">
            <select id="domainSelect"  style="width: 100%" ng-options="domain for domain in ctrl.allDomains"
                    ng-model="ctrl.selectedDomain" ng-change="ctrl.update()">
            </select>
        </div>
        <div class="col-sm-3">
            <select id="userSelect"  style="width: 100%" ng-options="user for user in ctrl.allUsers"
                    ng-model="ctrl.selectedUser" ng-change="ctrl.update()">
            </select>
        </div>
    </div>
<!--    <div class="row">
            <div class="input-daterange" id="datepicker" >
                <input type="text" class="input-small" name="start" />
                <span class="add-on" style="vertical-align: top;height:20px">to</span>
                <input type="text" class="input-small" name="end" />
            </div>
    </div>-->
    <div ng-show="ctrl.domainSelected">
        <p>Total visits: {{ ctrl.domainVisitsCount }}</p>
        <p>Users:</p>
        <p ng-repeat="user in ctrl.domainUsers">{{user}}</p>
    </div>
</div>