<div ng-controller="UpdatesDetailsController as ctrl">
    <div style="padding-top: 20px" class="col-md-12">
        <div class="row">
            <canvas style="height: 300px;" id="line" colours="ctrl.lineChartColors" class="chart chart-line" data="ctrl.graphData"
                labels="ctrl.labels" legend="true" series="ctrl.series" click="onClick" options=ctrl.options>
            </canvas>
        </div>
    </div>
    <div class="col-md-12">
        <div ng-repeat="(updateId, updateName) in ctrl.updates">
            <h4><i class="fa fa-arrow-circle-o-up" style="color: #337ab7;"></i> {{ updateName.updateName }} </h4>
            <div class="">
                <div ng-repeat="node in ctrl.policyTree | filter: ctrl.policyHasUpdates(updateId)" ng-include="'tree'"></div>
            </div>

            <script type="text/ng-template" id="tree">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div>
                            <a href="" data-toggle="collapse" data-target="{{ '#'+ node.policyId + updateId}}" aria-controls="{{ node.policyId+updateId}}" style="color: white;">
                                {{ ctrl.policiesNames[node.policyId] }}
                                <span class="pull-right">
                                    <div class="col-md-1"><i class="fa fa-check" style="color:#5cb85c"></i></div>
                                    <div class="col-md-1"><i class="fa fa-stop" style="color:#d9534f"></i></div>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body collapse in" id="{{ node.policyId+updateId }}">
                        <div class="">
                            <div ng-show="ctrl.hasDevices(node.policyId, updateId)" class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Devices</div>

                                <!-- Table -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Connector Id</th>
                                            <th>Update</th>
                                            <th>Ignore</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="device in ctrl.getDevices(node.policyId, updateId)">
                                            <td>{{device  }}</td>
                                            <td><a href=""><i class="fa fa-check" style="color:#5cb85c"></i></a></td>
                                            <td><a href=""><i class="fa fa-stop" style="color:#d9534f"></i></a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                         </div>
                        <div class="col-md-12" style="">
                            <div  style="margin-left: 10px;">
                                <div ng-repeat="node in node.children | filter: ctrl.policyHasUpdates(updateId)" ng-include="'tree'"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </script>
        </div>
    </div>
</div>
