<div ng-controller="VolatileDataController as ctrl">
    <div id='login-chart' class="row container-fluid">
        <div ng-init="ctrl.initializeDates()" ng-model="ctrl.startDate.date" ng-change="ctrl.getMemoryData()">

            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="ctrl.changeStartDate(1)">1d</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.changeStartDate(7)">1w</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.changeStartDate(31)">1m</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.changeStartDate(93)">3m</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.changeStartDate(365)">1y</button>
            </div>

            <p>Start Date: {{ ctrl.startDate.date }}</p>
            <p>End Date: {{ ctrl.endDate.date }}</p>
            <p>Data:</p>
            <p>{{ ctrl.data }}</p>
        </div>
    </div>
</div>