<div ng-controller="FacterReportController as ctrl">

    <div>
        <button data-toggle="collapse" data-target="#facterTable" href="" aria-expanded="false" class="btn btn-info">Display Facter Report</button>
    </div>
    <div class="collapse" id="facterTable">
        <div ng-init="ctrl.displayFacter()">
        <table ng-repeat="json in ctrl.data">
            <tr ng-repeat="(key, value) in json">
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        </table>
        </div>
    </div>

</div>