<!DOCTYPE html>
<html ng-app="app">
	<head lang="en-us">
		<meta charset="utf-8">
		<title> Addigy </title>
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/app.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/loginHistory.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/timeline.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/sockets.css">
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/dashboards.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/css/domainsHistory.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/lib/css/angular-chart.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/lib/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/lib/css/AdminLTE.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="assets/lib/css/select2.min.css">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </head>
    <div class="main-header">
        <img src="assets/img/logo.png" alt="Addigy" />
    </div>

    <ul ng-controller="IndexController as ctrl" class="nav nav-tabs dash-nav-bar">
        <li ng-click = "ctrl.dash1Selected()" ng-class="ctrl.activeTab==0?'active':''"><a href="#dashboard1">Dashboard1</a></li>
        <li ng-click = "ctrl.dash2Selected()" ng-class="ctrl.activeTab==1?'active':''"><a href="#dashboard2" >Dashboard2</a></li>
        <li ng-click = "ctrl.injectSelected()" ng-class="ctrl.activeTab==2?'active':''"><a href="#injectFacter" >Inject Facter</a></li>
    </ul>

	<body class="main-background">
        <div ng-view></div>
	</body>
    <script src="assets/lib/js/Chart.min.js"></script>
    <script src="assets/lib/js/angular/angular.min.js"></script>
    <script src="assets/lib/js/angular/angular-route.min.js"></script>
    <script src="assets/lib/js/angular/angular-chart.min.js"></script>
    <script src="assets/lib/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="assets/lib/js/jquery.js"></script>
    <script src="assets/lib/js/bootstrap.min.js"></script>
    <script src="assets/lib/js/select2.min.js"></script>
    <script src="assets/timeline.js"></script>
    <script src="assets/app.js"></script>
    <script src="assets/DataRequestFactory.js"></script>
    <script src="assets/LoginDataService.js"></script>
    <script src="assets/FacterReportService.js"></script>
    <script src="assets/DomainsInfoService.js"></script>
    <script src="assets/FreeMemoryService.js"></script>
    <script src="assets/TenantsService.js"></script>
    <script src="assets/VolatileDataService.js"></script>
    <script src="assets/NonVolatileTimelineService.js"></script>
    <script src="assets/SocketService.js"></script>
    <script src="assets/controllers/IndexController.js"></script>
    <script src="assets/controllers/TenantsController.js"></script>
    <script src="assets/controllers/LoginGraphController.js"></script>
    <script src="assets/controllers/LoginDetailsController.js"></script>
    <script src="assets/controllers/DashboardsController.js"></script>
    <script src="assets/controllers/FacterReportController.js"></script>
    <script src="assets/controllers/BrowsingHistoryController.js"></script>
    <script src="assets/controllers/SearchDomainController.js"></script>
    <script src="assets/controllers/UpdatesController.js"></script>
    <script src="assets/controllers/UpdatesDetailsController.js"></script>
    <script src="assets/controllers/FreeMemoryController.js"></script>
    <script src="assets/controllers/VolatileDataController.js"></script>
    <script src="assets/controllers/NonvolatileTimelineController.js"></script>
    <script src="assets/controllers/InjectFacterController.js"></script>
    <script src="assets/controllers/SocketController.js"></script>
</html>
